<@charset "UTF-8";>
html,body{scrollbar-width:thin;width:100%}
.timeline-Viewport{min-height:390px}
.timeline-TweetList li:nth-of-type(n+5),
.timeline-Header,footer,.tcu-imageContainer:before,.timeline-Tweet-actions,.timeline-Tweet-brand,.timeline-LoadMore{display:none!important}
.timeline-Tweet-text{font-size:13px!important;margin-bottom:-1rem}
.timeline-tweet{font-family:-apple-system,BlinkMacSystemFont,Hiragino Sans,Hiragino Kaku Gothic ProN,Meiryo,Helvetica,Arial,sans-serif;line-height:1.5!important}
.timeline-Body{border:1px solid rgba(15,70,100,.12);border-radius:3px}
.timeline-ShowMoreButton{margin-top:10px!important;width:150px!important}
.MediaCard-media{border-radius:2px!important}
.SummaryCard-image{border-bottom-width:0!important}

