/* ソーシャルボタンカウント吹きさしなど                                               */
/* カウントをボタンの balloon_top, balloon_right, balloon_bottom, balloon_left に置く */

/*  ボタンの上に置く top */
.balloon_top {
	position: relative;
	background: #fcfcfc;
	border: 1px solid gray; /*#242a2e;*/
        font-size:11px;
        text-align:center;
        margin-bottom:5px; padding:3px;
        font-family: arial, "ＭＳ ゴシック",sans-serif;
        border-radius: 5px; color: #808080;       
}
.balloon_top:after, .balloon_top:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.balloon_top:after {
	border-color: rgba(252, 252, 252, 0);
	border-top-color: #fcfcfc;
	border-width: 5px;
	margin-left: -5px;
}
.balloon_top:before {
	border-color: rgba(36, 42, 46, 0);
	border-top-color: gray; /*#242a2e;*/
	border-width: 6px;
	margin-left: -6px;
}

/* ボタンの右に置く right */
.balloon_right {
	position: relative;
	background: #ffffff;
	border: 1px solid gray; /*#0a0c0d;*/
        font-size:11px;
        text-align:center;
        margin-left:5px; padding:4px; margin-top:30px;
        font-family: arial, "ＭＳ ゴシック",sans-serif;
        border-radius: 5px;  color: #808080; 
}
.balloon_right:after, .balloon_right:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.balloon_right:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 3px; /*5px;*/
	margin-top: -3px; /*5px;*/
}
.balloon_right:before {
	border-color: rgba(10, 12, 13, 0);
	border-right-color: gray; /*#0a0c0d;*/
	border-width: 4px; /*6px;*/
	margin-top: -4px;  /*6px;*/
}

/* ボタンの下に置く bottom */
/* bottom  */
.balloon_bottom {
	position: relative;
	background: #fff;
	border: 1px solid gray;
        font-size:11px;
        text-align:center;
        font-family: arial, "ＭＳ ゴシック",sans-serif;
        margin-bottom:5px; padding:3px;
        border-radius: 5px; color: #808080;
}
.balloon_bottom:after, .balloon_bottom:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.balloon_bottom:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}
.balloon_bottom:before {
	border-color: rgba(220, 220, 220, 0);
	border-bottom-color: gray;
	border-width: 6px;
	margin-left: -6px;
}

/* ボタンの左に置く left */
.balloon_left {
	position: relative;
	background: #fff;
	border: 1px solid gray;
        font-size:11px;
        text-align:center;
        font-family: arial, "ＭＳ ゴシック",sans-serif;
        margin-bottom:5px; padding:4px;
        border-radius: 5px; color: #808080;
}
.balloon_left:after, .balloon_left:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.balloon_left:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.balloon_left:before {
	border-color: rgba(220, 220, 220, 0);
	border-left-color: gray;
	border-width: 6px;
	margin-top: -6px;
}
